<style>
div.container {
    width: 100%;
}


nav {
    float: left;
    max-width: 160px;
    margin: 10;
    padding: 1em;
}

aside {
    position: fixed;
    top: 50px;
    left: 1150px;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
   
nav ul a {
    text-decoration: none;
}

article {
    margin-left: 170px;
    overflow: hidden;
}
</style>



<div class="row">
  <div class="container">
    <div style="display: block;">
    <nav>
      <table>
        <tbody>
          <tr *ngFor="let name of nameArr; let i = index" class="post list-group-item">
            <a href="#">{{nameArr[i]}}</a>
          </tr>
        </tbody>
      </table>
    </nav>
    <article>
      <table style="width: 100%">
        <tr>
          <td>
            <iframe width="900" height="600"
              [src]= "sanitizer.bypassSecurityTrustResourceUrl(urlArr[i])">
            </iframe>
          </td>

          <td>
            <aside>
              <div>
                <h1> {{nameArr[i]}} </h1>
                <p> {{nameArr[i]}} </p>
              </div>
            </aside>
          </td>
        </tr>
      </table>
      

      

    </article>

    
    

    

  

    <table style="width:100%">
      <tr>
        <td>
          <a href="#" class="btn btn-lg btn-default center animated infinite pulse" routerLink="/users">Previous Tutorial</a>
        </td>
        <td>
          <a href="#" class="btn btn-lg btn-default center animated infinite pulse" routerLink="/users">Next Tutorial</a>
        </td>
      </tr>
    </table>
    
    

<!-- 
    <canvas baseChart
                [(datasets)]="lineChartData"
                [(labels)]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"></canvas>
-->
    </div>
  </div>
</div>
<!-- 
<div class="row">
  <div class="container">
    <table class="table table-responsive table-condensed">
      <tr>
        <th *ngFor="let label of lineChartLabels">{{label}}</th>
      </tr>
      <tr *ngFor="let d of lineChartData">
        <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
      </tr>
    </table>
  </div>
  <div class="userinfo">
  </div>
</div>
-->

