<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="this is the splash page">
  <meta name="author" content="roceleylaw">
  <title>contribute</title>
</head>
<body>
<div class="board">
<form>
  <label class="form-input">
    <input type="text" autofocus="true" required/>
    <span class="label">Title</span>
    <div class="underline"></div>
  </label>

  <label class="form-input">
    <input type="link" />
    <span class="label">Youtube</span>
    <div class="underline"></div>
  </label>

  <label class="form-input">
    <input type="file" />
    <span class="label">Image</span>
    <div class="underline"></div>
  </label>

  <label class="form-input">
    <textarea></textarea>
    <span class="label">Question</span>
    <div class="underline"></div>
  </label>

  <div id="submit" role="button" type="button" class="btn btn-irenic float-right" tabindex="0">
    <span>SUBMIT</span>
  </div>
</form>
</div>
</body>
</html>


